.banner{
    height: 50vh;
}

.nav-wrapper {
    padding-top: 20px;
    padding-left: 25%;

}

.comment {
    border: 3px black solid;

}
select{
    display: block !important;
   }

body {
    background-color: lightcyan;
}

#site-name {
    padding-top: 8%;
    font-family: 'Oleo Script', cursive;


}

