.banner{
    height: 50vh;
}

.nav-wrapper {
    padding-top: 20px;
    padding-left: 15%;

}

.comment {
    border: 3px black solid;

}
select{
    display: block;
   }

body {
       background-color: lightcyan;
}

#site-name {
    padding-top: 8%;


}